body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    /* Pure black for OLED */
}

canvas {
    display: block;
    /* Removes bottom whitespace */
    width: 100%;
    height: 100%;
    outline: none;
}